<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.rssfeed" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>RSS FEED</name>
    <description>
        Working with JQuery Mobile
    </description>
    <author email="fadil@xcoder.developer" href="https://www.facebook.com/fadil.xcoder">
        fadilxcoder
    </author>
	
	<plugin name="cordova-plugin-whitelist" spec="1.1.0" />
	
    <preference name="orientation" value="portrait"/>
	<preference name="fullscreen" value="false"/>
	<preference name="SplashScreenDelay" value="1000"/>
	<preference name="KeepRunning" value="false"/>
	<preference name="SplashScreen" value="splash"/>
	
	<icon src="icon.png" />
    <splash src="splash.png" />
	
    <content src="index.html" />
	
    <access origin="*" />
	
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	
</widget>
